<br>
<div class="alert alert-info" role="alert">
 Products count:  <%= link_to   " #{@products_count} products.", admin_products_path %> 
  <br>
  <%= "categories_count: #{@categories_count} categories" %>
</div>

